.tier-row {
    display: flex;
    border: 5px solid black;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
    padding: 2px;
}
.tier-letter {
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}